*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background: rgb(81,201,226);
    background: linear-gradient(30deg, rgba(81,201,226,1) 0%, rgba(139,125,220,1) 100%);
}

h1,
h2,
p,
#submit,
form label {
    font-family: "Nunito", sans-serif;
}

h1 {
    color: #fff;
}

h2 {
    color: #9379DB;
    font-size: 1.5rem;
}

p {
    color: gray;
    text-align: center;
    padding-bottom: 1rem;
}

h1,
h2 {
    text-align: center;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5); 
}

.left,
.wrapper,
#carousel-images {
    width: 360px;
    height: 850px;
    max-width: 100%; 
    max-height: 100%;
}

#carousel-images {
    opacity: 0.5;
}

#carousel-images img {
    height: 850px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left h1 {
    position: absolute;
    text-shadow: 1px 1px 10px #35375c;
}

.wrapper {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5); 
}

form input,
button{
    display: block;
    padding: 6px;
    width: 290px;
    margin: 8px 0px;
}

form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus {
    outline: 1px solid #9379DB;
}

.flex {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    max-width: 100%;
}

.flex input {
    width: 30px;
    height: 20px;
}

#submit {
    margin-top: 30px;
    background-color: #4CD0E5;
    border: none;
    color: white;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
}

#submit:hover{
    cursor: pointer;
    background-color: #87a1ff;
}

input[type="checkbox"] {
    accent-color: #4D51A8;
}

a {
    text-decoration: none;
}
